{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>My Django Blog</title>
        <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    </head>
    <div id="header">
        <ul id="control-bar">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                 <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
    <body>
        <div id="container">
            <div id="content">
                {% block content %}
                [ content placeholder ]
                {% endblock %}
            </div>
        </div>
    </body>
</html>